/* Font Face */
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format(woff2);
  font-display: swap;
}

/* Variables */
:root {
  --black: #000000;
  --extra-dark-basic: #2d3440;
  --dark-basic: #565c66;
  --neutral-basic: #b9b9b9;
  --light-basic: #e7e7e7;
  --extra-light-basic: #fcfcfc;
  --extra-light-basic-opacity40: rgba(252, 252, 252, 0.4);
  --extra-light-basic-opacity50: rgba(252, 252, 252, 0.5);
  --white-basic: #ffffff;
  --extra-bright-special: #ff2f64;
  --bright-special: #ff4a78;
  --neutral-special: #ff7799;
  --light-special: #feafc3;
  --extra-light-special: #ffcbd8;
  --blue-special: #69a9ff;
  --light-blue-special: #9fc8ff;
  --yellow-special: #fcc850;
  --light-yellow-special: #fcdc92;
  --error-status: #ea5454;
  --success-status: #00e484;
  --warning-status: #fd912e;
  --button-special: rgba(255, 47, 100, 0.3);
}

/* Global */
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--extra-dark-basic, #2d3440);
  background-color: var(--light-special, #feafc3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: var(--extra-dark-basic, #2d3440);
  text-decoration: none;
}

.headline {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.button {
  padding: 12px 32px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--extra-dark-basic, #2d3440);
  background-color: var(--extra-light-basic, #fcfcfc);
  border: none;
  box-shadow: 0 0 0 4px var(--extra-light-basic-opacity40, rgba(252, 252, 252, 0.4));
  border-radius: 26px;
  text-decoration: none;
}

.button:hover {
  background-color: var(--extra-light-basic-opacity40, rgba(252, 252, 252, 0.4));
  box-shadow: 0 0 0 4px var(--extra-light-basic, #fcfcfc);
}

.button:focus {
  background-color: var(--extra-light-basic, #fcfcfc);
  box-shadow: 0 0 0 2px var(--extra-dark-basic, #2d3440);
}

.button:disabled {
  color: var(--neutral-basic, #b9b9b9);
  background-color: var(--light-basic, #e7e7e7);
  box-shadow: 0 0 0 4px var(--extra-light-basic-opacity40, rgba(252, 252, 252, 0.4));
}

/* Pages */
/* Page Container */
.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* Navigation */
.navigation {
  display: flex;
  line-height: 20px;
}

.logo {
  padding: 24px 16px 24px 0;
  align-self: center;
}

.logo img {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 410px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  align-self: center;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 8px 16px;
  line-height: 20px;
}

.navigation-link:hover {
  background-color: var(--extra-light-basic-opacity50, rgba(252, 252, 252, 0.5));
  border-radius: 26px;
}

.navigation-link:focus {
  box-shadow: inset 0px 0px 0px 2px var(--extra-dark-basic, #2d3440);
  background-color: var(--extra-light-basic-opacity50, rgba(252, 252, 252, 0.5));
  border-radius: 26px;
}

.navigation-link:active,
.navigation-user .navigation-link:active {
  outline: 0;
  background-color: var(--extra-light-basic, #fcfcfc);
  border-radius: 26px;
}

.contact-phone {
  margin-left: auto;
  margin-right: 8px;
  padding: 35px 10px;
  align-self: center;
  font-weight: 700;
}

.contact-phone b {
  width: 148px;
}

.navigation-user {
  max-width: max-content;
}

.navigation-user .navigation-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-size: 14px;
  border-radius: 100%;
  background: rgba(252, 252, 252, 0.3);
}

.navigation-user .navigation-item:not(:last-child) {
  margin-right: 16px;
}

.navigation-icon {
  fill: var(--extra-dark-basic, #2d3440);
}

.navigation-login .navigation-icon,
.navigation-cart .navigation-icon {
  padding-right: 8px;
}

.navigation-user .navigation-login,
.navigation-user .navigation-cart {
  margin: 0;
  padding: 6px 18px;
  border-radius: 26px;
}

.main-index {
  flex-grow: 1;
}

/* Gift */
.gift {
  margin-bottom: 80px;
}

.gift-headline {
  width: 425px;
  margin: 0 auto;
  margin-bottom: 56px;
  text-align: center;
}

.gift-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gift-item {
  width: 310px;
  padding: 40px 220px 40px 40px;
  border-radius: 16px;
  background-color: var(--neutral-special, #ff7799);
}

.gift-title {
  margin: 0 0 16px 0;
  font-size: 24px;
  line-height: 30px;
}

.gift-description {
  margin: 0 0 30px 0;
}

.gift-button {
  margin: 0;
}

.gift-item:first-child {
  background-image: url("../images/raspberries_cone.png");
  background-position: 378px 30px;
  background-repeat: no-repeat;
}

.gift-item:last-child {
  background-image: url("../images/marshmallows_cone.png");
  background-position: 330px 30px;
  background-repeat: no-repeat;
}

/* Offer */
.offer {
  margin-bottom: 80px;
}

.offer-headline {
  width: 527px;
  margin: 0 auto 60px;
}

.offer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card-item {
  position: relative;
  width: 190px;
  margin: 50px 0 90px;
  padding: 130px 40px 0 40px;
  text-align: center;
  border-radius: 8px;
  background-color: var(--extra-light-basic, #fcfcfc);
}

.product-card-item .wrapper,
.product-card-item .wrapper-product-images {
  position: absolute;
  top: -53px;
  right: 50px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  margin: 0;
}

.product-card-item img {
  object-fit: cover;
  width: 110%;
  height: 110%;
}

.product-card-title {
  margin: 0;
  padding:  0 0 9px 0;
}

.product-card-title,
.product-card-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.product-card-description {
  margin: 0;
  padding: 0 0 17px 0;
  color: var(--dark-basic, #565c66);
}

.product-card-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.product-card-price {
  display: block;
}

.product-card-button {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 1px;
  border-radius: 100%;
  background-color: var(--extra-bright-special, #ff2f64);
  fill: var(--extra-light-basic, #fcfcfc);
}



/* .button:hover {
  background-color: var(--extra-light-basic-opacity40, rgba(252, 252, 252, 0.4));
  box-shadow: 0 0 0 4px var(--extra-light-basic, #fcfcfc);
}

.button:focus {
  background-color: var(--extra-light-basic, #fcfcfc);
  box-shadow: 0 0 0 2px var(--extra-dark-basic, #2d3440);
}

.button:disabled {
  color: var(--neutral-basic, #b9b9b9);
  background-color: var(--light-basic, #e7e7e7);
  box-shadow: 0 0 0 4px var(--extra-light-basic-opacity40, rgba(252, 252, 252, 0.4));
} */

.product-card-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.product-card-button:hover {
  background-color: var(--extra-light-basic, #fcfcfc);
  box-shadow: 0 0 0 2px var(--extra-bright-special, #ff2f64);
  fill: var(--black, #000000);
}

/* .product-card-button:link {
  background-color: var(--extra-bright-special, #ff2f64);
  box-shadow: 0 0 0 2px var(--extra-dark-basic, #2d3440);
  fill: var(--extra-light-basic, #fcfcfc);
} */

/* Advantages */
.advantages {
  margin-bottom: 80px;
  padding: 24px;
  border-radius: 16px;
  background-image: url("../images/waffles_background.jpg");
}

.advantages-container {
  margin: 0;
  padding: 0;
  border-radius: 16px;
  background-color: var(--extra-light-basic, #fcfcfc);
}

.advantages-headline {
  margin: 0 0 56px 0;
  padding-top: 56px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0 0 16px 10px;
  list-style-type: none;
}

.advatages-items {
  width: 450px;
  margin: 0;
  padding: 0 0 40px 95px;
}

.advantages-description {
  margin: 0;
  padding: 0;
  color: var(--dark-basic, #565c66);
}

/* .advantages-description-ice-cream::before {
  content: "";
  width: auto;
  background-image: url(../images/ice_cream.svg);
  background-repeat: no-repeat;
} */
/* Не сделано */

/* Wrapper */
.wrapper,
.wrapper-product-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 76px;
}

/* Blog */
.blog,
.newsletter {
  width: 570px;
  border-radius: 16px;
  background-color: var(--extra-light-basic, #fcfcfc);
}

.blog {
  background-image: url("../images/serving_ice_cream.jpg");
  background-repeat: no-repeat;
}

.blog-news {
  margin: 0;
  padding: 32px 32px 12px 32px;
  line-height: 20px;
  color: var(--dark-basic, #565c66);
}

.blog-title {
  margin: 0;
  padding: 0 235px 63px 32px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

/* Newsletter */
.newsletter {
  width: 570px;
  background-image: url("../images/post_background.jpg");
  background-repeat: no-repeat;
}

.newsletter-container {
  margin: 6px;
  padding: 26px;
  border-radius: 16px;
  background-color: var(--extra-light-basic, #fcfcfc);
}

.newsletter-description {
  margin: 0;
  padding-bottom: 42px;
  color: var(--dark-basic, #565c66);
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.field {
  width: 314px;
  height: 46px;
  margin: 0;
  padding: 0 0 0 16px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border-width: 1px;
  color: var(--silver, #b9b9b9);
}

.newsletter-button {
  color: var(--extra-light-basic, #fcfcfc);
  background-color: var(--extra-bright-special, #ff2f64);
  border: 0;
}

/* Shipping */
.shipping {
  display: flex;
  height: 534px;
  margin-bottom: 79px;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/decoration_ice_cream.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.shipping-wrapper:first-child {
  width: 371px;
  padding: 107px 100px 100px 100px;
}

.shipping-headline {
  text-align: left;
  margin: 0;
  padding: 0 0 23px;
}

.shipping-description {
  margin: 0;
  color: var(--dark-basic, #565c66);
}

.shipping-wrapper:last-child {
  width: 420px;
  height: 326px;
  margin-right: 64px;
  padding: 40px;
  background-color: var(--extra-light, #fcfcfc);
  border-radius: 8px;
}

.shipping-description-form {
  margin: 0;
  padding-bottom: 32px;
  color: var(--dark-basic, #565c66);
}

.shipping-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.field-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.field-group input {
  padding: 14px 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid var(--neutral-basic, #b9b9b9);
  border-radius: 4px;
  color: var(--neutral-basic, #b9b9b9);
}

.shipping-form label {
  padding-bottom: 8px;
  line-height: 20px;
  font-weight: 700;
}

.shipping-form-address {
  grid-column: 1 / -1;
  padding-bottom: 9px;
}

.shipping-submit {
  grid-column: 1 / -1;
  justify-self: center;
  color: var(--extra-light-basic, #fcfcfc);
  background-color: var(--extra-bright-special, #ff2f64);
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

/* Сontacts */
.contacts {
  padding: 64px;
  background-image: url("../images/ice_cream_cones.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts-adress {
  width: 263px;
  padding: 40px;
  align-self: center;
  font-style: normal;
  background-color: var(--extra-light, #fcfcfc);
  border-radius: 8px;
}

.contacts-headline,
.contacts-phone-description {
  margin: 0;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--neutral-basic, #565c66);
  text-align: left;
}

.contacts-adress-text,
.contacts-phone {
  margin: 0;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-time {
  margin: 0;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--neutral-basic, #565c66);
}

.button-feedback {
  display: inline-block;
  padding: 13px 32px;
  color: var(--extra-light-basic, #fcfcfc);
  background-color: var(--extra-bright-special, #ff2f64);
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

/* Footer */
.main-footer .page-container {
  display: flex;
  margin: 0 auto;
  padding: 46px 0;
}

.social {
  max-width: 300px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 4px;
  padding: 0;
  list-style-type: none;
}

.social-item {
  margin: 0 16px 0 0;
}

/* About */
.about {
  width: 370px;
  margin-left: auto;
  margin-right: 185px;
}

.about-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-item {
  min-width: 126px;
  margin: 0;
  padding: 0 0 8px 24px;
}

.about-item-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.about-item-link-supplier {
  font-weight: 700;
}

/* Creator */
.wrapper-creator {
  width: 193px;
  margin-right: 0;
  padding-right: 14px;
}

.creator-descrition {
  font-size: 12px;
  line-height: 16px;
}

.creator-link {
  text-decoration: underline;
}

/* Catalog Page */
.main-catalog {
  padding: 32px 0 40px;
}


.breadcrumbs {
  display: flex;
  margin: 0 0 16px;
  padding: 0;
  list-style-type: none;
}

.breadcrums-items {
  margin: 0;
  padding-right: 28px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.inner-header-headline {
  margin: 0 0 40px;
  text-align: left;
}

/* Catalog Filter */
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  width: 807px;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.catalog-filter-group {
  margin: 0;
  padding: 8px 24px 16px 0;
  border: none;
}

.catalog-filter-group option {
  padding: 0;
}

.catalog-filter-group:nth-child(3) {
  padding-right: 0;
}

.catalog-filter-group:last-child {
  width: 596px;
}

.catalog-filter-title {
  padding-left: 16px;
  border: none;
}

.select-control {
  width: 196px;
  height: 36px;
  padding: 8px 16px 8px 16px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border: 0;
  border-radius: 20px;
  background-color: var(--extra-light-basic, #fcfcfc);
  opacity: 0.3;
  appearance: none;
}

.catalog-filter-label .catalog-filter-input {
  display: inline;
  width: 23px;
  border: none;
  background-color: inherit;
}

.range-controls {
  position: relative;
  width: 196px;
  height: 18px;
  padding-top: 18px;
  border: 0;
  border-radius: 20px;
  background-color: var(--extra-light-basic, #fcfcfc);
  opacity: 0.3;
}

.scale {
  width: 164px;
  height: 2px;
  margin: auto;
  background-color: var(--dark-basic, #565c66);
}

.scale .bar {
  position: absolute;
  left: 52px;
  width: 64px;
  height: 2px;
  background-color: var(--dark-basic, #565c66);
}

.range-controls .range-toggle {
  position: absolute;
  top: 11px;
  left: 8px;
  margin: 0;
  padding: 2px 2px;
  border: 6px solid var(--extra-dark-basic, #2d3440);
  background-color: var(--extra-light-basic, #fcfcfc);
  border-radius: 50%;
  opacity: 10;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 40px;
}

.range-controls .toggle-max {
  left: 112px;
}

.catalog-filter-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--extra-light-basic, #fcfcfc);
  border-radius: 20px;
  opacity: 0.3;
}

.catalog-filter-item {
  padding: 8px 40px 8px 0;
}

.catalog-filter-item:first-child {
  padding-left: 40px;
}

.catalog-filter-item:last-child {
  padding-right: 16px;
}

.catalog-filter-button {
  align-self: end;
  margin-bottom: 16px;
  padding: 8px 53px 8px 53px;
  font-size: 14px;
  background-color: var(--extra-light-basic, #fcfcfc);
  opacity: 0.3;
}

/* Catalog Products */
.product-list {
  margin-bottom: 16px;
  padding: 0;
}

.product-card-item:nth-child(4n) {
  margin-right: 0;
}

/* Wrapper Pagination */
.wrapper-pagination {
  display: flex;
  margin-bottom: 40px;
}

.pagination-show-more {
  margin-left: 490px;
}

.pagination {
  display: flex;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  padding-right: 16px;
}

.pagination-link {
  line-height: 20px;
}
